---
import Layout from "@layouts/Layout.astro";
import ProjectHeader from "@components/projects/ProjectHeader.astro";
import { DEFAULT_LOCALE } from "@src/consts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { getLocale, getLocaleUrlPrefix } from "astro-i18n-aut";
import Container from "@src/components/Container.astro";
import HeroImage from "@src/components/blog/HeroImage.astro";

const locale = getLocale(Astro.url) ?? DEFAULT_LOCALE;
const localeUrlPrefix = getLocaleUrlPrefix(Astro.url);

const projects = (await getCollection("projects", (entry) => entry.id.startsWith(`${locale}/`)))
	.sort((a, b) => b.data.start.valueOf() - a.data.start.valueOf())
	.map<CollectionEntry<"projects"> & { href: string }>((project) => {
		return {
			href: localeUrlPrefix + "/projects" + project.id.replace(locale, "") + "/",
			...project,
		};
	});
---

<Layout title="Projects">
	<Container class="pt-16">
		<ul class="m-0 grid list-none grid-cols-2 gap-6 p-0">
			{
				projects.map((project: any, index: number) => (
					<li class={`${index === 0 ? "col-span-2 mb-4 w-full text-center" : ""}`}>
						<a href={project.href} class="block transition-colors duration-200">
							<HeroImage
								class={`${index === 0 ? "w-full" : ""} mb-2 rounded-lg hover:shadow-md`}
								src={project.data.image}
								alt={project.data.description}
								width={720}
								height={360}
							/>
							<ProjectHeader
								pubDate={project.data.start}
								name={`title-${project.data.title}`}
								isSubheading={true}
								class={`${index === 0 ? "text-xl md:text-2xl lg:text-3xl" : ""} m-0`}>
								{project.data.title}
							</ProjectHeader>
						</a>
					</li>
				))
			}
		</ul>
	</Container>
</Layout>
